<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BroecklynneMeyer_CPT_206_Assignment3.Properties.Settings.StatesConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\States.mdf;Integrated Security=True;Persist Security Info=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="BroecklynneMeyer_CPT_206_Assignment3.Properties.Settings.States1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\States1.mdf;Integrated Security=True;Persist Security Info=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>